@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="input-group">
            <label>What is your name?</label>
            <input type="text" name="fullName" class="tx-input" , id="fullName" />
        </div>
    </div>

    <div class="row">
        <div class="input-group">
            <label>What is your name?</label>
            <input type="text" name="fullName" class="tx-input" , id="fullName" />
        </div>
    </div>

    <div class="row">
        <div class="input-group">
            <label>What is your name?</label>
            <input type="text" name="fullName" class="tx-input" , id="fullName" />
        </div>
    </div>
</div>
